<!-- navigation bar -->
<nav class="navbar navbar-light">
    <div class="navbar-brand">
        <%= image_tag ("412FoodRescue-logo-1.png") %>
    </div>
    <h1> Stimuli Testing </h1>
</nav>

<table>
    <tr>
        <td valign="bottom"><button type="button" class="btn btn-primary btn-lg" onclick="loadQuestion()">Submit</button></td>
        <td valign="bottom"><button type="button" class="btn btn-light" onclick="chooseA()">A</button></td>
        <td valign="bottom"><button type="button" class="btn btn-light" onclick="chooseB()">B</button></td>
    </tr>
</table>