<!-- Footer -->
<footer class="footer" id="footer">

  <!-- Copyright -->
  <div class = "container"> 
  	<div class = "center">
	  	<%= image_tag ('CMU_Logo_Horiz_White.png'), :class => "logo" %>
	  	<span class = "text-muted"> Questions or comments? Contact dkusbit@gmail.com</span>
	</div>
  </div>

</footer>
<!-- Footer -->


<script src="//code.jquery.com/jquery-1.12.4.js" type="text/javascript">
  $(document).ready(function() {

      var docHeight = $(window).height();
      var footerHeight = $('#footer').height();
      var footerTop = $('#footer').position().top + footerHeight;

      if (footerTop < docHeight)
          $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
  });
</script>