<!-- Footer -->
<footer class="footer">

  <!-- Copyright -->
  <div class = "container"> 
  	<div class = "center">
	  	<%= image_tag ('CMU_Logo_Horiz_White.png'), :class => "logo" %>
	  	<span class = "text-muted"> Questions or comments? Contact dkusbit@gmail.com</span>
	</div>
  </div>

</footer>
<!-- Footer -->