<div class = "container results">

	<h3> Thank you for your participation </h3>
	<p> You have answered <%= @count %> / 100 questions. We truly apprecipate your support. Please email to dkusbit@gmail.com if you have any questions. </p>

	<%= link_to "Logout", logout_path, :class => "btn btn-primary btn-lg" %>

</div>
