// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questionNum{
	text-align: center;
	color: #428bca !important;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.DonationType{
	text-align: center;
}
.recTitle{
	text-align: center;
}
.recOption{
    text-align: center;
    padding-bottom: 1em;
}

.donation {
	width: 50%;
	height: 30%;
	display: block;
	margin: 1em auto;
	border: 0.2em solid black;
	border-radius: 0.5em;
}
table thead{
	border: 0px;
}
table th{
	font-size: 2em;
	text-align: center;
}

.picsA, .picsB {
	border: 0.1em solid #696969;
	border-radius: 0.5em;
}


.pic {
	border-bottom: 0.1em solid #696969;
}


.imagePic {
	width: 55%;
	height: 50%;	
	display: block;
	margin: 0 auto;
}

.choice {
	margin: 0 auto;
	display: block;
}
.choice .choiceTitle{
	text-align: center;
}

.choice form{
	background-color: #F5F5F5;
	max-width: 50%;
	text-align: center;
	margin: 0 auto;
	border: 0.1em solid black;
	border-radius: 0.5em;
	padding-bottom: 1.5em;
}

.form-check{
	display: inline-block;
	padding-left: 3em;
	padding-right: 3em;
}

.collection_radio_buttons {
	padding-left: 0.5em;
	padding-right: 0.5em;
}


.otherButtons {
	text-align: center;
	margin: 2em auto;
}

@media only screen and (min-width: 768px) {
	.contentA{
		display: inline-block;
		float: left;
		width: 45%;
		margin-right: 0;
		margin-left: auto;
		text-align: center;
	}
	.contentB{
		display: inline-block;
		float: right;
		width: 45%;
		margin-left: 0;
		margin-right: auto;
	}


}