// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	text-align: center;
	color: #428bca !important;
	font-weight: bold;
}

h2{
	text-align: center;
}
.donation {
	width: 50%;
	height: 30%;
	display: block;
	margin: 1em auto;
	border: 0.2em solid black;
	border-radius: 0.5em;
}
table thead{
	border: 0px;
}
table th{
	font-size: 2em;
	text-align: center;
}

.pics {
	border-left: 0.1em solid black;
	border-right: 0.1em solid black;
	border-top: 0.1em solid black;
	border-radius: 0.5em;
	width: 90%;
}
.pic {
	width: 100%;
	border-bottom: 0.1em solid #696969;
}
.imagePic {
	width: 55%;
	height: 50%;
	display: block;
	margin: auto;
}

.choice h4{
	text-align: center;
}

.choice form{
	background-color: #F5F5F5;
	max-width: 50%;
	text-align: center;
	margin: 1em auto;
	border: 0.1em solid black;
	border-radius: 0.5em;
	padding-bottom: 1.5em;
}

.form-check{
	display: inline-block;
	padding-left: 3em;
	padding-right: 3em;
}

.collection_radio_buttons {
	padding-left: 0.5em;
	padding-right: 0.5em;
}


.otherButtons {
	text-align: center;
	margin: 2em auto;
}